<div class="top-nav">
      <div class="menu">
        <div class="menu-line"></div>
        <div class="menu-line long"></div>
        <div class="menu-line"></div>
      </div>
      <div class="menu-close">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
      </div>


      <div class="logo_div">
          <a href="" class="logo_atag"><img src="{{ url_for('static', path='/images/faceai.png') }}"/></a>
      </div>
      <div class="btn_signup_in">
          <button class="btn btn_signupin" type="button">Sign in</button>
      </div>
    </div>

    
    <div class="menu-panel text-center">
      
      <div class="menu-links text-start">
        <ul>
            <li class="navbar_sec_li"><a href="#" class="navbar_sec">Home</a></li>
            <li class="navbar_sec_li"><a href="#" class="navbar_sec">About</a></li>
            <li class="navbar_sec_li"><a href="#" class="navbar_sec">Contact</a></li>
        </ul>
        
      </div>
    </div>